header {
    height: 379px;
    padding-top: 37px;
    box-sizing: border-box;
    width: 100%;
    flex: none;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

header .container:last-child{
    padding-top: 48px;
    box-sizing: border-box;
    height: 100%;
    background: none;
}