@media screen and (max-width: 760px) {

    header {
        height: 376px;
        padding-top: 16px;
    }
    header .container{
        width: 340px;
        margin: 0 auto;
    }
   header .container:first-child{
       width: 100%;
       margin: 0 auto;
       padding: 0 16px;
       box-sizing: border-box;
   }
    header .container:last-child{
        padding-top: 28px;
        background: none;

    }
    header .container:last-child div{
        width: 343px;
        margin: 0 auto;
        text-align: center;
    }
     
    header h1{
        font-size: 32px;
        line-height: 38px;
        padding: 0 10px;
   
    }
    header .container p{
        padding-top: 12px;
        width: 343px;
    
    }
    header .button{
        padding-top: 32px;

    }
    .button a{
        flex: none;
        width: 108px;
        height: 28px;
        background: none;
        box-shadow: none;
        border-radius: none;
        text-decoration: none;
        font-size: 12px;
        margin: 0 auto;
    }
    
    main {
        margin: 48px auto;
        width: 343px;
    }
    
    h2{

        font-size: 24px;
        line-height: 28px;
    
    }
    
    .main__container__one{
        margin: 32 auto;
    }    

    .main__block{
        width: 336px;
        height: 457px;
        padding: 40px 30px;
        margin-bottom: 32px;
    }
    .one{
        background-image: url(../img/left-img.png);
    }
    .two{
        background-image: url(../img/center-img.png);   
    }
    .three{
        background-image: url(../img/right-img.png);
    }
    
    .main__container__two{
        justify-content: center;
        width: 343px;
        display: grid;
        grid-template-rows: max-content max-content 144px 255px 262px;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .main__container__two p{
        width: 343px;
        text-align: center;
    }
    .main__container__two .top{
        width: 100%;
        background-image: url(../img/top-imgg.png);
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 64px;
        font-size: 32px;
        line-height: 46px;
        text-align: right;
        letter-spacing: 0.05em;
        box-sizing: border-box;
        color: #FFFFFF;
    }
    .main__container__two .left{
        background-image: url(../img/left-imgg.png);
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100%;
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        padding: 32px;
        box-sizing: border-box;
    
    }
    .main__container__two .right{
        background-image: url(../img/right-imgg.png);
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100%;
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        padding: 32px;
        box-sizing: border-box;
    }
    
    footer section{
        margin: 0 auto;
        width: 375px;
    }
    footer .container {
        width: 375px;
        padding: 32px 0px;
        box-sizing: border-box;
        text-align: center;
    }
    footer h3 {
        margin: -14px 0 32px;
        width: 100%;
        text-align: center;
    }
    footer p {
        width: 100%;
    }
    footer button {
        float: none;
        width: 108px;
        height: 31px;
        margin: 40px auto 8px;
    }
    footer li {
        padding-left: 39px;
    }
    footer li + li {
        margin-top: 18px;
    }
    footer li br {
        display: inline;
    }
    footer li::before {
        display: block;
        position: absolute;
        left: 16px;
        top: 0;
        content: '2.';
    }
    footer li:first-child::before {
        content: '1.';
    }
    footer li:last-child::before {
        content: '3.';
    }
    .copy {
        margin-top: 32px;
    }
}

/*
@media screen and (max-width: 1200px) {
    
    
      header {
          height: 768px;
          padding-top: 34px;
          box-sizing: border-box;
          width: 100%;
          flex: none;
          background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
      }
      header .container{
          width: 704px;
      }
     
      header .container:last-child{
          padding-top: 112px;
          background-position: right;
          background-size: 336px 292px;
          background-position-y: 65%;

      }
      header .container:last-child div{
          width: 510px;
      }
      
      header .container p{
          width: 368px;
      
      }
      
      main {
          width: 704px;
      }
      
      .main__container__one{
          margin: 64px 20px;
          justify-content: center;
      }
      .main__block{
          width: 336px;
          height: 457px;
          padding: 40px 30px;
          margin-bottom: 32px;
      }
      .one{
          background-image: url(../img/left-img.png);
      }
      .two{
          background-image: url(../img/center-img.png);   
      }
      .three{
          background-image: url(../img/right-img.png);
      }
        
      .main__container__two{
          width: 704px;
          grid-template-rows: max-content max-content 297px 253px;

      }

      .main__container__two p{
          width: 520px;
      }
      .main__container__two .top{
          height: 297px;
          background-size: contain;

      }
      .main__container__two .left{
          height: 253px;
          padding: 20px;
          background-size: contain;

      }
      .main__container__two .right{
        height: 253px;
        padding: 20px;
        background-size: contain;

      }
      
      footer .container {
        padding: 47px 0px;
        box-sizing: border-box;
        width: 704px;
    }
    footer h3 {
        margin: -16px 0 32px;
    }
    footer p {
        width: 336px;
        margin: 0;
    }
    footer button {
        margin-top: -115px;
        width: 134px;
        height: 32px;
    }

    footer ol {
        display: block;
    }
    footer li {
        padding-left: 59px;
    }
    footer li + li {
        margin-top: 26px;
    }
    footer li br {
        display: none;
    }
    
}     
*/