@media screen and (max-width: 760px) {
    body {
        min-width: 320px;
    }

    header {
        padding-top: 34px;
        height: 376px;

    }
    header .container{
        width: 100vw;
        margin: 0 auto;
    }
    header .container:first-child {
        height: 48px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 16px;
    }
    
    .container a {
        display: block;
        height: 48px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .logo {
        width: 46px;
        background-image: url('../img/logo.png');
    }
    .user {
        width: 34px;
        background-image: url('../img/user.png');
    }
    
    header .container:last-child{
        padding-top: 28px;
        background: none;

    }
    header .container:last-child div{
        width: 343px;
        margin: 0 auto;
        text-align: center;
    }
    
    header h1{
        font-size: 32px;
        line-height: 38px;
        padding: 0 10px;
   
    }
    header .container p{
        padding-top: 12px;
        width: 343px;
    
    }
    header .button{
        padding-top: 32px;
    }
    .button a{
        flex: none;
        width: 108px;
        height: 28px;
        background: none;
        box-shadow: none;
        border-radius: none;
        text-decoration: none;
        font-size: 12px;
        margin: 0 auto;


    }
    
    main {
        margin: 48px auto;
        width: 343px;
    }
    
    h2{

        font-size: 24px;
        line-height: 28px;
    
    }
    
    .main__block{
        width: 335px;
        height: 457px;
        margin-top: 32px;
        padding: 41px 30px 21px;
    }
    .one{
        background-image: url(../img/left-img.png);
    }
    .two{
        background-image: url(../img/center-img.png);   
    }
    .three{
        background-image: url(../img/right-img.png);
    }
    .main__block h3{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px; 
        letter-spacing: 0.05em;
        color: #1F3F68;
        text-align: left;
    
    }
    .main__block a{
    
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #5A98D0;
        text-decoration: none;
        background-image: url(../img/strelka.png);
        background-position: 100px center;
        background-repeat: no-repeat;
    
    }
    
    .main__block p{
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
        padding-top: 15px;
        padding-bottom: 28px;
    }
    
    .main__container__two{
        justify-content: center;
        width: 343px;
        display: grid;
        grid-template-rows: max-content max-content 144px 255px 262px;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .main__container__two p{
        width: 343px;
        text-align: center;
    }
    .main__container__two .top{
        width: 100%;
        background-image: url(../img/top-imgg.png);
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 64px;
        font-size: 32px;
        line-height: 46px;
        text-align: right;
        letter-spacing: 0.05em;
        box-sizing: border-box;
        color: #FFFFFF;
    }
    .main__container__two .left{
        background-image: url(../img/left-imgg.png);
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100%;
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        padding: 32px;
        box-sizing: border-box;
    
    }
    .main__container__two .right{
        background-image: url(../img/right-imgg.png);
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100%;
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        padding: 32px;
        box-sizing: border-box;
    }
    
    footer section{
        margin: 0 auto;
        width: 375px;
    }
    footer .container {
        width: 375px;
        padding: 32px 0px;
        box-sizing: border-box;
        text-align: center;
    }
    footer h3 {
        margin: -14px 0 32px;
        width: 100%;
        text-align: center;
    }
    footer p {
        width: 100%;
    }
    footer button {
        float: none;
        width: 108px;
        height: 31px;
        margin: 40px auto 8px;
    }
    footer li {
        padding-left: 39px;
    }
    footer li + li {
        margin-top: 18px;
    }
    footer li br {
        display: inline;
    }
    footer li::before {
        display: block;
        position: absolute;
        left: 16px;
        top: 0;
        content: '2.';
    }
    footer li:first-child::before {
        content: '1.';
    }
    footer li:last-child::before {
        content: '3.';
    }
    .copy {
        margin-top: 32px;
    }
}