@media screen and (max-width: 1200px) {
    
    
    header {
        height: 350px;
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        flex: none;
        background-image: url(../img/head-cont.png);
    }
    header .container{
        width: 704px;
    }

    header .container h1{
        margin-top: 91px;
    }
    header .container p{
        width: 520px;
    }
    
    main {
        width: 704px;
        margin: 64px auto;
    }
    
    .container_left{
    margin-top: none;
    }
    
    .container_right{
        margin: 64px 0;
        width: 540px;
    }
    
    footer .container {
      padding: 47px 0px;
      box-sizing: border-box;
      width: 704px;
  }

  main section:last-child div{
    margin: 64px auto 0;
    width: 1000px;
    height: 392px;
    background-image: url(../img/maps.png);
    background-size: 100% 392px;

}

  footer h3 {
      margin: -16px 0 32px;
  }
  footer p {
      width: 336px;
      margin: 0;
  }
  footer button {
      margin-top: -115px;
      width: 134px;
      height: 32px;
  }

  footer ol {
      display: block;
  }
  footer li {
      padding-left: 59px;
  }
  footer li + li {
      margin-top: 26px;
  }
  footer li br {
      display: none;
  }
  
}     
