@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
/* global reset */
html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
    list-style: none;
}
/* font adjusting hack */
html * {
	max-height: 1000000px;
}
/* common */
html {
    height: 100%;
}
body {
<<<<<<< HEAD
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100%;
=======
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    height: 100%;
>>>>>>> 57a5342249dbb37509b8eff7475dd0fc039889b8
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
    height: 48px;
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
}
/* header */
header {
    position: absolute;
    height: 768px;
    padding-top: 34px;
    width: 100%;
    flex: none;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    
}
header a {
    display: block;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo {
    width: 46px;
    background-image: url('../img/logo.png');
}
.user {
    width: 34px;
    background-image: url('../img/user.png');
}

.left-txt{
    flex: none;
    position: relative;
    top: 107px;
    width: 504px;
    height: 100%;
}
.zagolovok{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;

}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    padding-top: 32px;

}
.button{
    padding-top: 71px;
}
button{
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;


color: #FFFFFF;
}
.right-img{
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex: none;
    position: relative;
    top: 111px;
    width: 553.68px;
    height: 481.39px;

    
}

main{
    margin: 0 auto;
    position: relative;
    top: 832px;
}
section .container1{
    height: max-content;
    width: 1140px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.container1 .text{
    padding: 0;
    flex: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;

}
.block{
    width: 359px;
    height: 480px;
    position: relative;
    top: 64px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}
.one{
    background-image: url(../img/left.png);
}
.two{
    background-image: url(../img/center.png);
}
.three{
    background-image: url(../img/right.png);
}
/*
footer {
    flex: 0 0 auto;
    background: #316099;
    color: #fff;
}
footer section + section {
    border-top: 2px solid rgba(255,255,255,0.4);
}
<<<<<<< HEAD
*/
=======
footer .container {
    padding: 64px 0;
}
footer h3 {
    margin: 27px 0;
    font-weight: 400;
    text-align: left;
    width: 300px;
}
footer p {
    margin: 32px 0;
    opacity: 0.6;
    width: 480px;
}
footer ol {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
footer li {
    flex: 0 0 316px;
    padding-left: 42px;
    position: relative;
}
footer li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: 'T.';
}
footer li:first-child::before {
    content: 'A.';
}
footer li:last-child::before {
    content: 'E.';
}
footer button {
    float: right;
    margin-top: -160px;
    width: 340px;
    height: 56px;
    color: #fff;
    background: #5a98d0;
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}

>>>>>>> 57a5342249dbb37509b8eff7475dd0fc039889b8





